body{
    margin: 0px; padding: 0px;
    background-color: #F0EBF8;
    font-family: "arial"
}
.container{
    width: 450px;
    margin: 0px auto;
}
.form-header{
    background-color: white;
    padding: 20px 12px;
    border-radius: 5px;
    border-top: 8px solid #673AB7
}
label{
    display: block;
    font-weight: bold;
}
input{
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 24px;
    border-bottom: 1px solid #ccc;
    width: 250px;
}
.address-field input{
    width: 100%;
}
.name-field, .email-field, .address-field{
    margin: 20px 0px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #eae9e9ff;
}
button{
    background-color: #673AB7;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 3px;
}